body
{
    background-color: rgb(54, 62, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.card
{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    display: flex;
    flex-direction: column;

    min-width: 200px;
    max-width: 500px;
    min-height: 500px;
    flex-shrink: 1;
}

.im
{
    width: 100px;
    height: 100px;
}

.pfp-box
{
    width: 100px;
    height: 100px;
    position: relative;
    top: 40%;
    background-color: rgb(2, 162, 255);
    border-style: solid;
    border-width: 9px;
    border-radius: 100%;
    border-color: rgb(2, 162, 255);
}

.pfp
{
    width: 100px;
    height: 100px;
}


.top
{
    display: flex;
    height: 20%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: rgb(2, 162, 255);
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.bottom
{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80%;
    border-radius: 0px 0px 10px 10px;
}
.text
{
    padding-top: 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.links
{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}