table, th, td, tr
{
    width: 50%;
    border: solid 3px black;
    border-collapse: collapse;
    text-align: center;
}
th 
{
    border-width: 4px;
    height: 45px;
}
tr:hover
{
    border-width: 4px;
}