body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #323561;
}

table, th, td, tr
{
    width: 50%;
    border: solid 3px black;
    border-collapse: collapse;
    text-align: center;
}
th, td, tr
{
    background-color: rgb(255, 204, 183);
}
th 
{
    border-width: 4px;
    height: 45px;
}
tr:hover
{
    border-width: 4px;
}